@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.nav-component {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1; /* Ensures it stays above the carousel */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent background */
    backdrop-filter: blur(5px); /* Adds a blur effect to improve readability */
}

.navbar .logo {
    margin-left: 2rem;
}

.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav ul li {
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.nav ul li:hover {
    color: #f9a825;
}

.logo p {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Italiana", serif;
    color: #ffffff;
}

.nav ul li button {
    padding: 10px 20px;
    background-color: #f9a825;
    border: none;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nav ul li button:hover {
    background-color: #ffc107;
}
