

.nav-component {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: transparent;
}

.logo {
    flex: 1;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Italiana", serif;
    color: #ffffff;
    margin-left: 2rem;
}

.logo img {
    height: 70px;
    width: 150px; 
}

.nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

.nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

.nav ul li {
    cursor: pointer;
    transition: color 0.3s ease;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
}

.nav ul li:hover {
    color: #9B7EBD; /* Updated hover color */
}

.nav-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    z-index: 10;
}

.nav-button button {
    padding: 10px 20px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-button button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #f9a825;
}
