.hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.hero-right{
    display: flex;
    flex-direction: column;
    z-index: 1000;
    margin-top: 4rem;
}

.hero-head{
    text-align: center;
}

.hero-content{
    text-align: justify;
    height: 500px;
    width: 500px;
    padding-left: 4.9rem;
    font-size: 1.15rem;
}

.chat-btn{
    height: 50px;
    width: 200px;
    border-radius: 50px;
    border: 2px solid #D4AF37;
    background-color: white;
    color: #D4AF37;
    font-size: 1.13rem;
    padding-bottom: 15px;
    margin-left: 19rem;
}

.cam{
    margin-top: -3rem;
}