*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}


header{
    display: flex;
}

.logo{
    width:150px;
    height: 150px;
    margin-top: -25px;
    margin-left: 10px;
}

.orb{
    width: 1000px;
    height:1000px;
    background-color: #D4AF37;
    position: absolute;
    top: 0;
    right: 0;
    border-radius:100% ;
    margin-top: -700px;
    margin-right: -150px;
    margin-bottom: 0px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 100px;
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 25px;
}

 nav ul li a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #ffffff;
    transition: .4s;
}

a.active{
    color: #ffffff;
}

.book{
    font-weight: 600;
}


@media(max-width: 1000px){
    .orb{
        display: none;
    }

    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start; 
        justify-content: flex-start;
        width: 200px;
        height: 500px;
        gap: 50px;
        z-index: 999;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.2);
        padding-left: 5%;
        padding-top: 4%;
        box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    }

    a.active{
        color: #D4AF37;

    }

    a:hover{
        color: #D4AF37;
        transition: .4s;
    }
}



